{% extends "account/index.html" %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}


<div class="container ">
    <div class="row">
        <div class="col  m10 l6 offset-l3 offset-m1">
            <div class="l6 center-align">
                <h4>Cambio de contraseña</h4>
            </div>

            <div class="card-panel ">
                <form action="" method="POST">
                    {% csrf_token %}
                  
                    {{ form.as_p }}
                    <div class="center-align">
                        <button class="btn center-align" type="submit" value="Change"><i
                                class="material-icons right">send</i>Enviar</button>
                    </div>
                    <div class="section">
                        <div class="center-align">
                            <a href="/registro/">¿No estas registrado aun?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}