{% extends "account/index.html" %}
{% block title %}Reseteo de contraseña{% endblock %}
{% block content %}
<h2>Resetablece tu contraseña</h2>
{% if validlink %}
<div class="container ">
    <div class="row">
        <div class="col  m10 l6 offset-l3 offset-m1">
            <div class="l6 center-align">
                <h4>Restablece su contraseña</h4>
            </div>

            <div class="card-panel ">
                <p>Ingrese su contraseña dos veces</p>
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <div class="center-align">
                        <button class="btn center-align" type="submit" value="Change my password"><i
                                class="material-icons right">send</i>Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<p>El link es invalido, porfavor realiza una nueva solicitud</p>
{% endif %}
{% endblock %}